.dropdown-menu{
    width: 200px;
    position: absolute;
    top: 80px;
    list-style:none;
    text-align: center;
}
.dropdown-menu li{
    background:#cdb93d;
    cursor: pointer;
    height: 40px;
}
.dropdown-menu li:hover{
    background: #de7829;
}
.dropdown-menu.clicked{
    display: none;
}
.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
}
@media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
}